@import '../../global.scss';

.ImageFlip {
    display: flex;
    justify-content: center;

    .react-card-front, .react-card-back {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @include mobile {
            justify-content: center;
            
        }
    }

    img {
        max-width: 70%;
        max-height: auto;
        display: block;
    }

    &:hover {
        cursor: pointer;
    }

}