@import '../../global.scss';

li {
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;

    @include mobile {
        font-size: 1px;
    }

    &.active {
        background-color: $mainColor;
        color: $lightColor;
        border-radius: 8px;
    }
}