@import '../../global.scss';

.Skills {
    background-color: $introColor;
    color: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        padding: 0 10% 3% 10%;
        font-size: 45px;
        text-align: center;

        @include mobile {
            font-size: 37px;
        }

        span:nth-of-type(2) {
            color: $mainColor;
            text-decoration: underline;
        }
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;

        i {
            font-size: 70px;
            padding: 0 5% 5% 5%;

            @include mobile {
                font-size: 50px;
            }

            &:hover {
                cursor: help;
                color: $mainColor;
                animation-name: wobble;
                animation-duration: 1s;

                @keyframes wobble {
                    from {
                        transform: translate3d(0, 0, 0);
                    }
                
                    15% {
                        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -3deg);
                    }
                
                    30% {
                        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 3deg);
                    }
                
                    45% {
                        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -3deg);
                    }
                
                    60% {
                        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 2deg);
                    }
                
                    70% {
                        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
                    }
                
                    to {
                        transform: translate3d(0, 0, 0);
                    }
                
                }
            }

            
        }

    }

}