@import '../../global.scss';

.About {
    background-color: $lightColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        h1 {
            font-size: 45px;
            color: $mainColor;

            @include mobile {
                font-size: 25px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            width: 90%;

            li {
                text-align: center;
                width: 100%;
                padding: 0;
                font-size: 15px;
                font-size: 18px;
                padding: 5px 0;

                @include mobile {
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    color: $mainColor;
                    font-weight: 700;
                }
            }
        }
    }
}