@import '../../global.scss';

.Contact {
    display: flex;
    flex-direction: column;
    position: relative;

    .content {
        height: 100%;
        background-color: $introColor;
        display: flex;

        @include mobile {
            flex-direction: column;
        }

        .left {
            flex: 1;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: flex-end;
    
            .container {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                @include mobile {
                    justify-content: center;
                }

                img {
                    width: 60%;
                    max-height: auto;
                    display: block;

                    @include mobile {
                        width: 40%;
                        max-width: 500px;
                    }
                }            
    
            }
        }
    
        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mobile {
                justify-content: flex-start;
                flex: 1.5;
            }
    
            h2 {
                font-size: 30px;
                color: $lightColor;
            }
    
            form {
                height: 55%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
                @include mobile {
                    position: relative;
                    row-gap: 7px;
                }
    
                input {
                    min-width: 290px;
                    width: 80%;
                    height: 40px;
                    font-size: 16px;
                    border-radius: 7px;
                    border: none;
                    padding: 10px;
    
                    &:focus {
                        outline: none;
                    }
    
                    &[type=text] {
                        color: $mainColor;
                    }

                    @include mobile {
                        height: 80px;
                    }
    
                }
    
                textarea {
                    min-width: 290px;
                    width: 80%;
                    height: 200px;
                    font-size: 16px;
                    border-radius: 7px;
                    border: none;
                    resize: none;
                    color: $mainColor;
                    padding: 10px;
    
                    &:focus {
                        outline: none;
                    }
    
                    &[type=text] {
                        color: $mainColor;
                    }
                }
    
                button {
                    width: 150px;
                    height: 40px;
                    min-height: 40px;
                    color: $lightColor;
                    background-color: $mainColor;
                    border: none;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 20px;
                    cursor: pointer;
                    transition: 1s ease;
                    
                    &:hover {
                        background-color: $lightColor;
                        color: $mainColor;
                    }
                }
    
            }

            span {
                color: $lightColor;
                font-size: 20px;

                @include mobile {
                    position: absolute;
                    color: $lightColor;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    bottom: 50%;
                    background-color: $mainColor;
                    opacity: 90%;
                    width: 100%;
                }
            }
        }
    }
}