@import '../../global.scss';

.Intro {
    background-color: $lightColor;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            margin-top: 10%;
            width: 100vh;
            height: 100vh;
            overflow: hidden;
            background-color: $introColor;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 100%;
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;

                span {
                    font-size: inherit;
                    color: $introColor;
                }

                // animation for ityped dynamic span text
                .ityped-cursor {
                    animation: 1s blink infinite;
                }

                // I'll be using the blink animation often, will move it to global var later
                @keyframes blink {
                    from {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }
        }

        a {
            position: absolute;
            bottom: 5px;
            left: 30%;

            .icon {
                font-size: 7em;
                color: $introColor;
                animation: arrowBlink 2s infinite;
            }

            // will add some animation for the arrow using keyframes

            @keyframes arrowBlink {
                from {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

        }
    }
}