@import '../../global.scss';

.Intro {
    background-color: $lightColor;
    display: flex;
    max-height: 100vh;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @include mobile {
            align-items: center;
            justify-content: center;
            
        }

        .imgContainer {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            @include mobile {
                justify-content: center;
                
            }

            img {
                max-width: 70%;
                max-height: auto;
                display: block;
            }
        
        }
    }

    .right {
        flex: 0.5;
        position: relative;
        padding: 0 50px;

        @include mobile {
             padding-top: 5%;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                align-items: center;
                justify-content: flex-start;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;
                
                @include mobile {
                    font-size: 40px;
                }
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;

                @include mobile {
                    font-size: 20px;
                    position: relative;
                }

                span {
                    font-size: inherit;
                    color: $mainColor;

                    @include mobile {
                        display: flex;
                        justify-content: center;

                        // make span a block element so it goes on the next line
                        &:before{
                            content: '\a' ; 
                            white-space: pre;  
                        }
                    }
                }

                // animation for ityped dynamic span text
                .ityped-cursor {
                    animation: 1s blink infinite;

                    @include mobile {
                        display: none;
                    }
                }

                // I'll be using the blink animation often, will move it to global var later
                @keyframes blink {
                    from {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }
        }

        a {
            position: absolute;
            bottom: 5px;
            left: 30%;

            @include mobile {
                left: 37%
            }

            .icon {
                font-size: 7em;
                color: $introColor;
                animation: arrowBlink 2s infinite;
            }

            // will add some animation for the arrow using keyframes

            @keyframes arrowBlink {
                from {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

        }
    }
}