$mainColor: #4267B2;
$lightColor: white;
$introColor: #898F9C;
$borderColor: #ebebeb;

// smallest ideal width ratio 
$width: 1000px;

// creating a function for adjusting the content on smaller screens
@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}