@import '../../global.scss';

.Work {
    background-color: $introColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
        height: 350px;
        display: flex;
        justify-content: center;
        position: absolute;

        .container {
            width: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;

            .item {
                max-width: 700px;
                height: 100%;
                background-color: $lightColor;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    flex: 4;
                    height: 100%;
                    background-color: aqua;
                }

                .right {
                    flex: 8;
                    height: 100%;
                    background-color: antiquewhite;
                }
            }
        }
    }


}